<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin_users_information</title>
</head>
<body>
    <b> admin_users_info</b>
    <br /><br />

    <table border="1">
        <thead>
        <th>id</th>
        <th>credit</th>
        <th>rating</th>
        <th>role</th>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <form action="/login" method="post">
        <input type="submit" name="button" value="return" onclick="history.back();" />
        <input type="hidden" name="send" value="login" />
        <input type="hidden" name="id" value="{{ids}}" />
        <input type="hidden" name="password" value="{{passwords}}" />
    </form>
</body>
</html>