<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up page</title>
    <style>
    .large{
        font-weight: bold;
        font-size: 20px;
    }
    .small{
        font-weight: bold;
        font-size: 17px;
    }
    </style>
</head>

<body>
<p class="large">
    DB Online Learning Platform
</p>
<p class="small">
    Sign up page
</p>
<form action="/sign_up" method="post">
    <label for="user_id">ID:</label><br>
    <input id="user_id" type="text" name="id" value=""/><br>
    <label for="user_pwd">PASSWORD:</label><br>
    <input id="user_pwd" type="text" name="password" value=""><br><br>

    <label for="user_role">
        Choose a role :
        <select name="role" id="user_role" required>
            <option value="" disabled selected>Select your role</option>
            <option value="tutee">Tutee</option>
            <option value="tutor">Tutor</option>
        </select>
    </label>


    <input type="submit" name="send" value="sign up">
</form>
</body>
</html>